* {
  padding: 0;
  margin: 0;
}
/* Header and links */
.MainBody {
  font-size: 16px;
  width: 1200px;
  margin: 0 auto;
  font-family: "Share Tech Mono", monospace;
}

.Container--1 {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.Container--1 img {
  width: 200px;
  height: 200px;
}
nav {
  font-size: 16px;
  text-align: center;
  margin-left: 200px;
}
nav a {
  color: black;
  margin: 50px;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

/* Main body */
.Container--2 {
  margin-top: 20px;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 600px 300px 300px;
  column-gap: 30px;
  row-gap: 40px;
}
.Container--2 .Homevideo {
  width: 1200px;
  height: 700px;
  margin-bottom: 80px;
  object-fit: cover;
  box-shadow: 20px 20px 40px black;
  border-radius: 20px;
}
.Container--2 .what_we_are {
  display: flex;
  margin-bottom: 80px;
  gap: 100px;
  text-align: justify;
  line-height: 30px;
}
.what_we_are h1 {
  text-align: justify;
  font-size: 40px;
  margin-bottom: 20px;
}
.Container--2 .what_we_are img {
  width: 550px;
  height: auto;
  border-radius: 20px;
}
.Container--2 .double_images {
  display: flex;
  width: 1200px;
  height: auto;
  gap: 100px;
  position: relative;
}
.Container--2 .double_images img {
  width: 550px;
  height: auto;
  border-radius: 20px;
}
.statement_2 {
  position: absolute;
  left: 25px;
  top: 280px;
  font-size: 30px;
  color: black;
  background-color: white;
  border-radius: 10px;
}
.statement_1 {
  position: absolute;
  right: 25px;
  top: 280px;
  font-size: 30px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

/*pages to follow,this is also a container to other elements as well */

.Follow_Us {
  background-color: white;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.title_2 {
  color: black;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
}
.social_media_site {
  display: flex;
  gap: 30px;
  margin: 20px;
  align-items: center;
}
/* footer */
footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: black;
  height: 100px;
  color: white;
}
.footer_links a {
  text-decoration: none;
  margin: 40px;
  color: black;
  color: white;
  font-size: 16px;
}
.footer_links a:hover {
  border-style: dashed;
}
